*, *:before, *:after {
    box-sizing: boder-box;
}

.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Arvo', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #444;
    text-align: center;

    background: black url('/images/bitmaps/eniac2-1000-darkened.png') repeat center -200px;
    background-attachment: fixed;
}

h2 {
    color: #e5402d;
}

ul {
    padding: 0;
    list-style-position: inside;
}

blockquote {
    color: #888;
}
q {
    font-style: italic;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

.site-header, .entry-content, .site-footer {
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
}

.site-header {
    color: white;
}

.logo {
    width: 10em;
}

.pay-off {
    font-size: 200%;
}

.portrait-img {
    width: 12em;
}

.usps {
    font-size: 135%;
    line-height: 150%;
}

.container {
    width: 100%;
    background-color: white;
}

.references {
    display: inline-block;
}
.reference {
    width: 6em;
    text-align: center;
    vertical-align: middle;
}

.logo-viaviela {
    width: 3em;
}
.logo-cammio {
    width: 5em;
}
.logo-ultimaker {
    width: 5em;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@media only screen and (min-width: 35em) {
    .site-header-top {
        margin: 1em 0;
    }
    .logo, .intro-text {
        float: left;
    }
    .pay-off, .portrait {
        float: right;
    }
    .logo, .portrait {
        width: 33%;
    }
    .portrait-img {
        width: 9em;
        margin: 1em;
    }
    .pay-off, .intro-text {
        width: 63%;
    }
    .pay-off {
        margin: 0;
    }
    .usps {
        margin: 0 0 1em;
    }
}
