body {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-family: 'Arvo', monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #444;
    text-align: center;

    background: black url('/images/bitmaps/eniac2-1000-darkened.png') repeat center -200px;
    background-attachment: fixed;
}

ul {
    padding: 0;
    list-style-position: inside;
}

.page {
    width: 100%;
    margin: 30em 0 5em;
    background-color: white;
}

.container, .site-header {
    max-width: 35em;
    margin: 0 auto;
    padding: 1em;
}

.site-header {
    position: absolute;
    top: 2em;
    color: white;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
