<footer class="site-footer">
</footer>

<div class="panel subscription-panel panel-closed">
    <div class="clearfix panel-heading">
        <h2>Successful customer experiences<br>(email&nbsp;snelcursus)</h2>
        <span class="toggle-icons">
            <i class="fa fa-caret-up"></i>
            <i class="fa fa-times"></i>
        </span>
    </div>
    <div class="panel-body">
        <p>
            De juiste ervaring zorgt ervoor dat bezoekers tot klanten leiden en bouwt duurzame online relaties. Leer best practices en vermijd veel gemaakte fouten in deze 5-delige email cursus (email cursus is in het Engels).
        </p>
        <!-- Begin MailChimp Signup Form -->
        <div class="mc_embed_signup">
            <!-- <form action="#" method="post" id="mc&#45;embedded&#45;subscribe&#45;form" name="mc&#45;embedded&#45;subscribe&#45;form" class="validate" target="_blank" novalidate> -->
            <form action="http://pomodoro.us2.list-manage.com/subscribe/post?u=a7ca4ebb2acbe66b98284259a&amp;id=70d7d86559&amp;group%5B15101%5D%5B2%5D=true" method="post" name="signup-crash-course-dialog-form" class="validate" target="_blank" novalidate>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="emailadres" required>
                <button class="button">Inschrijven</button>
            </form>
        </div>
        <!--End mc_embed_signup-->
    </div>
</div>

<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-6202870-1');
    ga('require', 'displayfeatures');ga('send','pageview');
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/scripts/jquery.min.js"><\/script>')</script>
<script src="/assets/scripts/main.min.js"></script>
