<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="site-header">
    <div class="clearfix site-header-top">
        <img class="logo-pomodoro" src="/assets/images/pomodoro-logo-red.svg" alt="Pomodoro">
    </div>
    <div class="clearfix intro">
        <p class="intro-text">“Our biggest issue was that we wasted too much time on features that didn't deliver the results we had been counting on.”</p>
        <p>
            This is something I hear a lot from people who develop online services. The right customer experience is essential if you want to <em>increase customer value and expand your online business</em>.
        </p>
    </div>
</header>
