<!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="site-header">
    <div class="clearfix site-header-top">
        <img class="logo-pomodoro" src="/assets/images/pomodoro-logo-red.svg" alt="Pomodoro">
    </div>
    <div class="clearfix intro">
        <p class="intro-text">
            “Ons grootste probleem was dat we te veel tijd hebben besteed aan onderdelen die niet het resultaat leverden waar we op hoopten.”
        </p>
        <p>
            Dit hoor ik vaak van mensen die online diensten ontwikkelen. De juiste klantervaring is essentieel als je de waarde voor de klant wilt verbeteren en je online dienstverlening wilt laten groeien.
        </p>
    </div>
</header>
