@import "../../bower_components/normalize-scss/normalize";

*, *:before, *:after {
    box-sizing: boder-box;
}

.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
    font-family: 'Arvo', monospace;
    font-weight: 100;
    font-size: 16px;
    line-height: 1.4;
    color: #444;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: black url('/assets/images/bitmaps/eniac-darkened80.png') repeat center -200px;
    background-attachment: fixed;
}

h2 {
    margin: 2em 0 1em;
    color: #e5402d;
    text-align: center;
}

ul, p {
    margin: 1em 0 2em;
}
ul {
    padding: 0 0 0 1em;
    /* list-style-position: inside; */
}
li {
    margin-bottom: .5em;
}

blockquote {
    color: #888;
}
q {
    font-style: italic;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

hr {
    display: block;
    height: 1px;
    width: 50%;
    margin: 2em auto;
    border: 0;
    border-top: 1px solid #ccc;
}

input[type=email], button {
    padding: .2em 1em;
    border: 1px solid #999;
    border-radius: .2em;
}
input[type=email] {
    -webkit-appearance: none;
}
input[type=email]:focus {
    border-color: #333;
}

button {
    background-color: #ddd;
    border-right-color: #555;
    border-bottom-color: #555;
}

a:link, a:visited, a:active {
    color: #3689b3;
}
a:hover {
    color: #26617f;
}

.site-header, .entry-content, .site-footer {
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid transparent;
}

.site-header {
    color: white;
}

.site-footer {
    padding-bottom: 4em;
}

.logo-pomodoro {
    width: 10em;
}

.page-title {
    font-weight: normal;
}

.site-nav {
    position: absolute;
    top: 2em;
    left: 2em;
}
.site-nav a {
    padding: 0 .5em;
    color: white;
    text-decoration: none;
}
.site-nav a:hover {
    text-decoration: underline;
}

.pay-off {
    font-size: 150%;
}

.intro h2 {
    color: white;
    font-style: italic;
    font-weight: normal;
}

.customer-pain {
    display: block;
    margin: 2em 0;
    font-size: 1.5em;
}

.entry-content {
    text-align: left;
}

.portrait {
    text-align: center;
}
.portrait-img {
    width: 14em;
}

.challenges {
}
.challenges, .usps {
    margin-bottom: 2em;
    /* font-size: 125%; */
}
.usps {
    list-style: none;
}
.usps li:before {
    content: '✓ ';
}

.reference {
    margin: 2em 0;
    padding: 2em 1em;
    background-color: #e8e8e8;
}
.reference footer {
    text-align: center;
}
.reference .portrait-img {
    width: 8em;
    margin: 1em;
}

.results {
    font-weight: bold;
}

.about .portrait {
    text-align: center;
}

.container {
    width: 100%;
    background-color: white;
}

.email {
    margin-bottom: 1em;
}

.logo-viaviela {
    width: 3em;
}
.logo-cammio {
    width: 5em;
}
.logo-ultimaker {
    width: 5em;
}

.organizations {
    width: 14em;
    margin: 1em auto;
    list-style: none;
}
.organizations > li {
    float: left;

}
.organization {
    width: 5em;
    margin: 0 1em;
}

.signup form, .contact .vcard {
    text-align: center;
}

.post img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* MAILCHIMP */

/* MailChimp Form Embed Code - Slim - 08/17/2011 */

.mc_embed_signup div.mce-responses {
    float: left;
    top: -1.4em;
    padding: 0em .5em 0em .5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}
.mc_embed_signup div.response {
    margin: 1em 0;
    padding: 1em .5em .5em 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 80%;
}
.mc_embed_signup .mce-error-response {
    display: none;
}
.mc_embed_signup .mce-success-response {
    color: #529214;
    display: none;
}
.mc_embed_signup label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
}

/* END MAILCHIMP */

.panel p {
    margin: 1em 0;
}
.subscription-panel {
    position: fixed;
    right: 2em;
    bottom: 0;
    width: 400px;
    padding: 0 3px;
    background-color: #e5402d;
    background-color: hsla(6, 78%, 54%, .9);
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
    text-align: left;
    box-shadow: 0 0 1em #ddd;
    box-shadow: 0 0 1em hsla(0, 0%, 0%, .33);
}
.panel-heading h2 {
    margin: 0;
    padding-right: 1em;
    font-size: 1em;
    color: white;
}
.toggle-icons {
    position: absolute;
    right: .8em;
    top: 1em;
}
.panel-heading {
    position: relative;
    padding: .5em 1em;
    color: white;
    cursor: pointer;
}
.panel-closed .panel-body {
    display: none;
}
.fa-caret-up, .panel-closed .fa-times {
    display: none !important;
}
.panel-closed .fa-caret-up, .fa-times {
    display: inline !important;
}
.panel-body {
    background-color: white;
    padding: .2em 1em;
    border-radius: .2em;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@media only screen and (min-width: 35em) {
    ul {
        padding: 0 0 0 3em;
    }

    .site-header-top {
        margin: 1em 0;
    }
    .pay-off, .portrait {
        float: right;
    }
    .logo-pomodoro, .portrait {
        width: 33%;
    }
    .portrait-img {
        margin: 0 1em;
    }
    .pay-off {
        width: 63%;
    }
    .signup-crash-course {
        display: none;
    }
    .about, .reference {
        margin: 2em;
        text-align: center;
    }
    .about p, .about .portrait, .reference q, .reference footer {
        float: left;
    }
    .reference:nth-child(odd) footer {
        float: right;
    }
    .about .portrait, .reference footer {
        width: 33%;
        font-size: .66em;
    }
    .about p, .reference q {
        width: 66%;
        margin: 0;
    }
}

@media only screen and (max-width: 35em) {
    .site-header-top {
        clear: none;
    }
    .site-nav {
        display: block;
        position: relative;
        top: auto;
        left: auto;
        text-align: left;
    }
    .logo-pomodoro {
        margin: 1em 0;
    }
    .subscription-panel {
        display: none;
    }
}
