<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% include head.html %}

    <body>

        {% include header_en.html %}

        <div class="container">
            <article class="entry-content">

            {{ content }}

            </article>
        </div>

        {% include footer_en.html %}

    </body>
</html>
